.rankPer{
  background:rgba(239,239,244,1);
  font-size:32px;
  font-weight:500;
}
.scrollbox{
  border-radius:10px 10px 5px 5px;
}
.head{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 89px;
}
.item{
    display: flex;
    align-items: center;
    //justify-content: space-around;
    width:664px;
    height:134px;
    border: 2px rgba(220,220,220,1);
  }
.my{
  background:rgba(220,220,220,1);
}
.background{
  display:flex;                    
  justify-content: center; 
} 
.rank-background{
  height: 312px;
  width:600px;
  background:rgba(220,220,220,1);
}
.main-box{
  display:flex;                    
  justify-content: center; 
}
.main{
  width:664px;
  background:rgba(255,255,255,1);
  border-radius:10px 10px 5px 5px;
}
.rank{
  width: 110px;
}
.avatar{
  width: 140px;
}
.avatar image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name{
  width: 238px;
}
.count{
  width: 176px;
}
.inline{
  text-align: center; 
  display: inline-block; 
}
/*
.first View, .second View, .third View{
  opacity: 0;
}
.first{
  background: url('../../assets/png/gold.png') no-repeat;
  background-size: 86px 80px;
  background-position: center;
}
.second{
  background: url('../../assets/png/silver.png') no-repeat;
  background-size: 86px 80px;
  background-position: center;
}
.third{
  background: url('../../assets/png/bronze.png') no-repeat;
  background-size: 86px 80px;
  background-position: center;
}
*/
