.feedback{
    background:rgba(239,239,244,1);
    font-size:32px;
    padding-top: 62px;
    display: flex;
}
.box{
    background:rgba(255,255,255,1);
    width:664px;
    margin: 0 auto;
    padding: 76px 32px 73px;
    box-sizing: border-box;
    border-radius:10px 10px 0px 0px;
}
.form{  
    width:600px;
    height:600px;
    background:rgba(247,247,247,1);
    border:1px solid rgba(0,0,0,1);
}
.contact{
    height: 88px;
    line-height: 88px;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-bottom:1px solid rgba(0,0,0,1);
}
.contact-head{
    width: 181px;
    border-right:1px solid rgba(0,0,0,1);
}
.text{
    box-sizing: border-box;
    padding: 13px;
    min-height: 88px;
    width:600px;
}
.button{
    margin-top: 73px;
}
.submit{
    background:rgba(255,145,37,1);
    color:rgba(255,255,255,1);
}