$basefontSize: 32px;
$baseborder: 4px solid #DCDCDC;
@mixin dataroom {
    height: 96px;
    line-height: 96px;
    padding-left: 66px;
}
@mixin button($baseheight){
    text-align: center;
    vertical-align: center;
    background: #BFBFBF;
    height: $baseheight;
    line-height: $baseheight;
}
.content{
    font-size: $basefontSize;
    background-color: #ffffff;
    width: 664px;
    margin: 0 auto;
    margin-top: 182px;
    height: 1000px;
    position: relative;
}
.avatar{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin: 0 auto;
    position: absolute;
    top: -100px;
    left: 232px;
}
.top-container{
    .likebox{
        display: inline-block;
        
        .likePhoto{
            width: 80px;
            height: 80px;
        }
        Text{
            display: inline-block;
            height: 80px;
            line-height: 80px;
            vertical-align: middle;
        }
    }
    .per-information{
        
        display: inline-block;

        .setting{
            background: #DCDCDC;
            display: inline-block;
            height: 60px;
            width: 100px;
            text-align: center;
            line-height: 60px;
            border-radius: 10px;
            vertical-align: center;
            margin-right: 20px;
        }
        .nickname{
            View{
                display: inline-block;
            }
            margin: 20px 0px;
        }
        .student-number{
            View{
                display: inline-block;
            }
            margin-bottom: 20px;
        }
        .QQnumber{
            View{
                display: inline-block;
            }
        }
    }
}
.data{
    margin: 30 auto;
    .first-row{
        View{
            display: inline-block;
            height: 100px;
            width: 200px;
            text-align: center;
            line-height: 100px;
            border: 1px solid #dcdcdc;
        }
    }
    .second-row{
        View{
            display: inline-block;
            height: 100px;
            width: 200px;
            text-align: center;
            line-height: 100px;
            border: 1px solid #dcdcdc;
        }
    }
}



