.head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.college-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rank-background{
  height: 100px;
  background-color: black;
}