.help{
    background:rgba(239,239,244,1);
    font-size:32px;
    font-weight:500;
    padding-top: 62px;
    display: flex;
}
.box{
    background:rgba(255,255,255,1);
    width:664px;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius:10px 10px 0px 0px;
}
.form{
    margin: 0 auto;
    width:600px;
}
.feedback{
    width:180px;
    height:80px;
    line-height: 80px;
    text-align: center;
    background:rgba(191,191,191,1);
    border-radius:5px;
    margin:28px 0px 10px 452px;
}
.question{
    padding-left: 16px;
    padding-right: 16px;
}
.answer{
    border:1px solid rgba(0,0,0,1);
    background:rgba(247,247,247,1);
    min-height: 120px;
    margin-top: 17px;
    margin-bottom: 52px;
    padding: 10px 16px;
}
