.index{
    .rankLib{
        width: 660px;
        height: 260px;
        margin: 0 auto;
        margin-top: 82px;
        display: block;
    }
    .rankCollege{
        @extend .rankPer
    }
    .rankPer{
        @extend .rankLib
    }
    .banner{
        height: 98px;
    }
}