$basecolor: #FFFFFF;
$basefontsize: 36px;
page{
    background-color: #EFEFF4;
}
View{
    .icon{
        display: block;
        margin: 0 auto;
        width: 650px;
        height: 205px;
        text-align: center;
        margin-top: 172px;
    }
    .login{
        display: block;
        margin: 0 auto;
        width: 648px;
        height: 360px;
        background: $basecolor;
        padding-top: 72px;
        .username{
            font-size: $basefontsize;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 60px;
            background: $basecolor;
            View{
                display: inline-block;
                vertical-align: bottom;
            }
            Input{
                display: inline-block;
                vertical-align: bottom;
                border-bottom: 1px solid #000000;
            }
        }
        .passcode{
            @extend .username; 
        }
        .tips{
            font-size: 30px;
            text-align: center;
            width: 650px;
            background: $basecolor;
        }
    }
    View{
        Button{
            width: 648px;
            height: 88px;
            font-size: $basefontsize;
            text-align: center;
            line-height: 88px;
            background: #FF9125;
            color: $basecolor;
            margin-top: 72px;
        }
    }
}