$baseborder: 4px solid #DCDCDC;
$whitecolor: #FFFFFF;
@mixin dataroom {
    height: 116px;
    line-height: 116px;
    padding-left: 66px;
}
@mixin button{
    display: block;
    width: 360px;
    height: 80px;
    color: $whitecolor;
    background: #F18B2E;
    text-align: center;
    line-height: 80px;
}
page{
    font-size: 32px;
    background-color: #EFEFF4;
}
.content{
    background-color: $whitecolor;
    width: 664px;
    margin: 0 auto;
    margin-top: 182px;
    height: 1000px;
    position: relative;
}
.avatar{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin: 0 auto;
    position: absolute;
    top: -100px;
    left: 232px;
}
.top-container{
    margin-top: 100px;
    display: inline-block;
    width: 664px;
    .top-container-right{
        position: absolute;
        top: 50px;
        right: 66px;
        width: 130px;
        .likebox{
            float: right;
            margin-right: 12px;
            width: 106px;
            Image{
                width: 54px;
                height: 44px;
                margin-right: 10px;
            }
        }
    }
    .per-information{
        display: block;
        margin-left: 104px;
        width: 306px;
        margin: 0 auto;
        View{
            margin-top: 44px;
        }
        .QQnumber{
            display: inline-block;
            .left{
                margin-right: 12px;
            }
            .right{
                width: 180px;
                display: inline-block;
            }
        }
        .setting{
            margin-top: 0px;
            color: #FF9125;
            font-size: 24px;
            float: right;
            right: 86px;
            top: 100px;
        }
    }
    
}

.data{
    margin: 30 auto;
    margin-top: 60px;
    Image{
        display: inline-block;
        width: 54px;
        height: 54px;
        margin: 31px 0px;
    }
    View{
        display: block;
        margin: 0 auto;
    }
    .name{
        line-height: 116px;
        vertical-align: top;
        display: inline-block;
        margin-left: 47px;
    }
    .book{
        @include dataroom();
        border: $baseborder;
    }
    .rank{
        @include dataroom();
        border-left: $baseborder;
        border-right: $baseborder;
    }
    .contribute{
        @include dataroom();
        border: $baseborder;
    }
}
.feedback{
    @include button;
    border-radius: 10px;
    margin: 54px auto;
}
.show{
    width: 100%;
    height: 100%;
    background: grey;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    opacity: 0.6;
}
.none{
    display: none;
}
.mask{
    display: none;
}
.unmask{
    width: 664px;
    height: 468;
    background: $whitecolor;
    position: absolute;
    z-index: 1005;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}
.unmask{
    .left-box{
        margin-left: 95px;
        margin-top: 85px;
        width: 40px;
        Checkbox{
            display: inline-block;
        }
        .showqq{
            margin-bottom: 41px;
        }
        display: inline-block;
    }
    .right-box{
        width: 460px;
        margin-left: 50px;
        display: inline-block;
        .input_box{
            margin-top: 58px;
            Input{
                display: inline-block;
                vertical-align: bottom;
                margin: 0;
                padding: 0;
                border-bottom: 1px solid black;
                width: 260px;
            }
            Text{
                display: inline-block;
                vertical-align: bottom;
                width: 120px;
            }
            .showQQbox{
                margin: 41px 0;
            }
        }
    }
    .stdnum{
        margin-bottom: 0;
    }
    .tips{
        font-size: 24px;
        margin-left: 260px;
        color: #FF9125;
        margin-bottom: 61px;
        margin-top: 16px;
    }
    Button{
        @include button;
        margin: 0 auto;
        margin-bottom: 42px;
    }
}

